.wrapper {
  display: grid;
  grid-template-columns: 10px 0.5fr 1fr 10px;
  grid-template-rows: 150px;
  grid-template-areas: ". select info .";

  justify-content: space-between;
  align-items: center;

  gap: 10px;
}

.select {
  grid-area: select;
}

.info {
  font-weight: bold;
  font-size: 25px;

  color: #3182b9;

  grid-area: info;

  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 20px;
}
